<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="blog.cosmos.home.sangeetai">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@drawable/mask"
        android:label="@string/app_name"
        android:roundIcon="@drawable/mask"
        android:supportsRtl="true"
        android:theme="@style/Theme.MoodyMusic">

        <activity android:name=".activity.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ExpressionDisplayActivity" />
        <activity android:name=".MainActivity" />

    </application>
</manifest>